asgiref==3.8.1
attrs==23.2.0
build==1.2.1
CacheControl==0.14.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
cleo==2.1.0
crashtest==0.4.1
cryptography==43.0.0
distlib==0.3.8
Django==5.0.7
django-debug-toolbar==4.4.6
django-filter==24.2
djangorestframework==3.15.2
docutils==0.21.2
drf-spectacular==0.27.2
dulwich==0.21.7
fastjsonschema==2.20.0
filelock==3.15.4
flake8==7.1.0
flake8-docstrings==1.7.0
future==0.18.3
gunicorn==22.0.0
idna==3.7
importlib_metadata==8.2.0
inflection==0.5.1
installer==0.7.0
jaraco.classes==3.4.0
jeepney==0.8.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
keyring==24.3.1
mccabe==0.7.0
more-itertools==10.3.0
msgpack==1.0.8
packaging==24.1
pefile==2021.9.3
pewee==0.1.0.dev9
pexpect==4.9.0
pillow==10.4.0
pkginfo==1.11.1
platformdirs==4.2.2
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
ptyprocess==0.7.0
pycodestyle==2.12.0
pycparser==2.22
pydocstyle==6.3.0
pyflakes==3.2.0
pyproject_hooks==1.1.0
PyYAML==6.0.1
rapidfuzz==3.9.5
referencing==0.35.1
requests==2.32.3
requests-toolbelt==1.0.0
rpds-py==0.18.1
SecretStorage==3.3.3
sentry-sdk==2.10.0
shellingham==1.5.4
snowballstemmer==2.2.0
sqlparse==0.5.1
tomlkit==0.13.0
trove-classifiers==2024.7.2
typing_extensions==4.9.0
uritemplate==4.1.1
urllib3==2.2.2
virtualenv==20.26.3
zipp==3.19.2
