{% extends 'myauth/base.html' %}

{% block title %}
User #{{ user.pk }}
{% endblock %}

{% block body %}
<div>
    {% if user.is_authenticated %}
    <h2>Username: <strong>{{ user.username }}</strong></h2><br>
    <div>Bio: {{ user.profile.bio }}</div>
    <div>Lust name: {{ user.last_name }}</div>
    <div>First name: {{ user.first_name }}</div>
    <div>Email: {{ user.email }}</div>

    <div>
        {% if request.user.is_staff or user.pk == request.user.pk %}
        <br><a href="{% url 'myauth:profile-update' user.pk %}">
            Update avatar photo
        </a>
        {% endif %}

    </div>
    {% if user.profile.avatar_image%}
    <br><img src="{{ user.profile.avatar_image.url }}" alt="{{ user.profile.avatar_image.name }}">
    {% endif %}


    <div>
        <br><a href="{% url 'myauth:users-list' %}">Back to users list</a>
    </div>
    {% endif %}
</div>
{% endblock %}
